<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Data</title>
</head>
<body>
    <form class="city-form" action="/v1/weather/getweatherinfo" method="POST">
        <div class="form-control">
            <label for="min">Min temp</label>
            <input type="number" name="min" id="min">
        </div>
        <div class="form-control">
            <label for="max">Max temp</label>
            <input type="number" name="max" id="max">
        </div>
        <button class="btn" type="submit">Search</button>
    </form>
</body>
</html>