.Model {
    position: fixed;
    z-index: 200;
    background-color: white;
    width: 70%;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    
}

.test{
    transition: all 500ms ease-out;
}

.Model button {
    background-color: maroon;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.Model button:hover{
    background-color: lightslategrey;
}